<app-navigation></app-navigation>

<img src="/assets/images/Intro blob.svg" alt="Blob" class="blob">

<section class="intro">
  <h1 class="title"><span>I Like Solving Dayli Problems</span> With Code & Design.</h1>

  <div class="about">
    <p>I’m Mateus Oliveira, a Full-Stack developer from Portugal. Currently, I’m finishing a bachelor degree at IPCA.
      Due to my creative personality I fell in love specially with Front-End and eventually UI/UX Design.
    </p>

    <p>Working as both a designer and developer has taught me how to empathise and understand the needs of both
      disciplines. I think it’s making me a better designer as a result.</p>

    <p>Outside of work, I’m usually working on a side-project of some form or another. It helps me learn new skills at
      my own pace, without the constraints of budgets and timelines.</p>

    <p>Im my spare time, you’ll either find me trainning muay thai, travelling to new places or capturing new moments
      with my camera.</p>
  </div>
</section>

<app-footer></app-footer>

