<img src="/assets/images/Intro blob.svg" alt="Blob" class="blob">

<app-navigation></app-navigation>

<section class="intro">
  <a [routerLink]="[returnTo]" class="home" #start>Go Back
    <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 17L10 9.5L2 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </a>

  <div class="project">
    <div class="title">
      <img [src]="projectService.selectedProject.logo" [alt]="projectService.selectedProject.title + ' logo'">

      <h1>{{projectService.selectedProject.title}}</h1>
    </div>

    <div class="about">
      <div class="left">
        <p>{{projectService.selectedProject.description}}</p>
        <p>{{projectService.selectedProject.descriptionShort}}</p>

        <div class="technologies">
          <div class="tech">
            <img src="/assets/images/icons/github.png" alt="Github" [title]="projectService.selectedProject.github"
              *ngIf="!projectService.selectedProject.isDesign"
              (click)="openURL(projectService.selectedProject.githubUrl)">

            <h1 *ngIf="!projectService.selectedProject.isDesign"
              (click)="openURL(projectService.selectedProject.githubUrl)">GitHub</h1>
          </div>

          <div class="tech" *ngFor="let technology of projectService.selectedProject.technologies">
            <div class="bar" *ngIf="!projectService.selectedProject.isDesign"></div>

            <img [src]="technology.icon" [alt]="technology.name" class="technology" [title]="technology.name">

            <h1>{{technology.name}}</h1>
          </div>
        </div>
      </div>

      <div class="right">
        <img src="{{projectService.selectedProject.thumbnail}}" alt="">
      </div>
    </div>

    <div class="details">
      <div class="text">
        <p>Year</p>
        <span>{{projectService.selectedProject.date}}</span>
      </div>
      <div class="text">
        <p>Collaborators</p>
        <span>{{projectService.selectedProject.collaborators}}</span>
      </div>
      <div class="text">
        <p>Give it a try</p>
        <span
          (click)="openURL(projectService.selectedProject.website.url)">{{projectService.selectedProject.website.text}}</span>
      </div>
    </div>
  </div>
</section>

<section class="showcase" *ngFor="let item of projectService.selectedProject.showcase">
  <div class="gradient stretched-{{projectService.selectedProject.color}}"></div>

  <h1>{{item.text}}</h1>

  <div class="image" [ngClass]="{isPc: !projectService.selectedProject.isPhone}">
    <img [src]="item.src" [alt]="item.text" [ngClass]="{'pocketList': projectService.selectedProject.title == 'PocketList'}">
  </div>
</section>

<app-footer></app-footer>

<div class="media">
  <p>Work in progress</p>
  <p>This website is only available for 1200px width screens or more</p>
</div>
