section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  padding-top: 5%;

  .home {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    color: var(--white);
    font-size: var(--fs-425);
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    margin-bottom: 5%;
    cursor: pointer;

    svg {
      transform: rotate(180deg);
      margin-right: 1.5%;
    }
  }

  .project {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 15vh;

    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      height: 8vh;

      img {
        object-fit: contain;
        object-position: center;
        width: fit-content;
        height: 100%;
      }

      h1 {
        color: var(--text-100);
        font-size: var(--fs-500);
        font-weight: 500;
        width: 80%;
        margin-left: 3%;
      }
    }

    .about {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      height: auto;

      .left {
        width: 60%;
        margin-top: 3%;

        p {
          color: var(--text-300);
          font-size: var(--fs-425);
          font-weight: 400;
          width: 85%;

          +p {
            margin-top: 4%;
          }
        }

        .technologies {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          min-height: 5vh;
          margin-top: 5%;

          .tech {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            width: auto;
            height: 5vh;

            &:nth-of-type(1) {
              img {
                cursor: pointer;
              }

              h1 {
                cursor: pointer;
              }
            }

            .bar {
              background-color: var(--bg-200);
              border-radius: var(--radius-full);
              width: 2px;
              height: 3.5vh;
              margin-right: 1vw;
            }

            img {
              object-fit: fill;
              object-position: center;
              width: fit-content;
              height: 3.5vh;
              margin-right: 0.5vw;
            }

            h1 {
              color: var(--text-100);
              font-size: var(--fs-400);
              font-weight: 400;
              margin-right: 1vw;
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        margin-top: 3%;

        .box {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          width: 100%;

          p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--text-100);
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            width: 100%;
            height: auto;
            padding: 3% 0;
            border-bottom: 2px solid var(--dark-blue);

            &:nth-last-of-type(1) {
              span {
                &:hover {
                  text-decoration: underline;
                  cursor: pointer;
                }
              }
            }

            span {
              color: var(--text-100);
              font-size: 18px;
              font-weight: 300;
              width: 50%;
              text-align: start;
            }
          }
        }
      }
    }

    .showcase {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      margin-top: 10%;

      h1 {
        color: var(--text-100);
        font-size: var(--fs-500);
        font-weight: 400;
        width: 100%;
        margin-bottom: 5%;
      }

      .image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 80%;
        margin-bottom: 5%;

        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }

        img {
          object-fit: fill;
          object-position: center;
          width: 100%;
          height: fit-content;
        }

        .frame {
          position: absolute;
          top: -1%;
          left: 10%;
          width: 80% !important;
          z-index: 3;
          cursor: pointer;
        }

        video {
          object-fit: fill;
          object-position: center;
          width: 69%;
          height: fit-content;
          border-radius: 2rem;
        }

        .player {
          position: absolute;
          top: 2%;
          left: auto;
          right: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: hsla(0, 0%, 0%, 0.70);
          border-radius: 2rem;
          width: 70%;
          height: 90%;
          z-index: 2;
          opacity: 1;
          transition: opacity 200ms ease-in-out;
        }

        p {
          color: var(--text-200);
          font-size: var(--fs-425);
          font-weight: 300;
          margin-top: 5%;
        }
      }
    }
  }
}

.isPhone {
  width: calc((100% / 3) - 5%) !important;

  img {
    width: 75% !important;
  }
}

.isTablet {
  width: 50% !important;
}

.isPlaying {
  opacity: 0 !important;
}

.media {
  display: none;
}

@media only screen and (max-width: 1200px) {
  * {
    display: none !important;
  }

  .media {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-400);

    p {
      display: initial !important;
      color: var(--text-100);
      font-weight: 500;
      font-size: var(--fs-600);
      width: 80%;
      height: auto;
      text-align: center;

      +p {
        color: var(--text-400);
        font-weight: 400;
        font-size: var(--fs-450);
        margin-top: 5%;
      }
    }
  }
}
