section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  padding-top: 11%;

  .home {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    color: var(--white);
    font-size: var(--fs-425);
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    margin-bottom: 5%;
    cursor: pointer;

    svg {
      transform: rotate(180deg);
      margin-right: 1.5%;
    }
  }

  .project {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 15vh;

    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      height: 8vh;

      img {
        object-fit: contain;
        object-position: center;
        width: fit-content;
        height: 100%;
      }

      h1 {
        color: var(--white);
        font-size: var(--fs-500);
        font-weight: 500;
        width: 80%;
        margin-left: 3%;
      }
    }

    .about {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      height: auto;

      .left {
        width: 60%;
        margin-top: 3%;

        p {
          color: var(--grey);
          font-size: var(--fs-425);
          font-weight: 300;
          line-height: 150%;
          width: 85%;

          +p {
            margin-top: 4%;
          }
        }

        .technologies {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          min-height: 5vh;
          margin-top: 5%;

          .tech {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            width: auto;
            height: 5vh;

            &:nth-of-type(1) {
              img {
                cursor: pointer;
              }

              h1 {
                cursor: pointer;
              }
            }

            .bar {
              background-color: var(--secondary-dark);
              border-radius: var(--radius-full);
              width: 2px;
              height: 3.5vh;
              margin-right: 1vw;
            }

            img {
              object-fit: fill;
              object-position: center;
              width: fit-content;
              height: 3.5vh;
              margin-right: 0.5vw;
            }

            h1 {
              color: var(--white);
              font-size: var(--fs-400);
              font-weight: 400;
              margin-right: 1vw;
            }
          }
        }
      }

      .right {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        height: 10vh;

        img {
          position: absolute;
          top: -100%;
          object-fit: cover;
          object-position: center;
          aspect-ratio: auto;
          width: 100%;
        }
      }
    }

    .details {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 4rem;
      width: 40%;
      margin-top: 3%;

      .text {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0.25rem;
        width: auto;
        height: 100%;

        p {
          color: var(--grey);
          font-size: var(--fs-400);
          font-weight: 300;
          width: 100%;
          height: auto;
        }

        span {
          color: white;
          font-size: var(--fs-425);
          font-weight: 300;
          text-wrap: nowrap;
          width: 100%;
        }

        &:nth-last-of-type(1) {
          span {
            text-decoration: underline;
            text-underline-offset: 0.25rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  @media (width < 1500px) {
    .home {
      font-size: var(--fs-415);

      svg {
        scale: 0.8;
      }
    }

    .project {
      .title {
        h1 {
          font-weight: 400;
        }
      }

      .about {
        .left {
          p {
            font-size: var(--fs-400);
            width: 100%;
          }

          .technologies {
            .tech {
              h1 {
                font-size: var(--fs-300);
              }
            }
          }
        }
      }
    }

    .details {
      .text {
        p {
          font-size: var(--fs-300);
        }

        span {
          font-size: var(--fs-415);
        }
      }
    }
  }

  @media (width < 600px) {
    .home {
      font-size: var(--fs-300);
      font-weight: 300;

      svg {
        scale: 0.6;
      }
    }

    .project {
      margin: 5% 0 10vh 0;

      .title {
        height: 5vh;

        h1 {
          font-size: var(--fs-425);
          width: auto;
          margin-left: 5%;
        }
      }

      .about {
        .left {
          width: 100%;
          margin-top: 8%;

          p {
            font-size: var(--fs-400);
            font-weight: 400;
          }

          .technologies {
            .tech {
              img {
                height: 3vh;
                margin-right: 4vw;
              }

              .bar {
                display: none;
              }

              h1 {
                display: none;
              }
            }
          }
        }

        .right {
          display: none;
        }
      }

      .details {
        gap: 3rem;
        width: 100%;

        .text {
          p {
            font-size: var(--fs-200);
          }

          span {
            font-size: var(--fs-400);
          }
        }

        @media (width < 400px) {
          gap: 1rem;
        }
      }
    }
  }
}

.showcase {
  position: relative;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
  padding: 0 15%;

  &:nth-of-type(2n) {
    flex-direction: row;

    .gradient {
      left: 70%;
      transform: translate(-70%, -55%) rotate(7deg);
    }
  }

  .gradient {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 55%;
    height: 40%;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(120px);
    transform: translate(-25%, -55%) rotate(7deg);
    z-index: -1;
  }

  h1 {
    font-size: 4rem;
    font-weight: 500;
    width: 50%;
    text-align: start;
    line-height: 130%;
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.55));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    @media (width < 1500px) {
      font-size: 2.75rem;
    }
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: auto;
    width: 45%;
    height: auto;

    img {
      display: block;
      object-fit: cover;
      object-position: center;
      width: 45%;
      height: fit-content;
    }
  }

  @media (width < 600px) {
    justify-content: space-between;
    flex-direction: column;
    padding: 0 11%;
    height: 50vh;
    margin-bottom: 30%;

    &:nth-of-type(2n) {
      flex-direction: column;

      .gradient {
        top: 55%;
        left: 25%;
        transform: translate(-25%, -55%) rotate(45deg);
      }
    }

    .gradient {
      top: 55%;
      width: 100%;
      border-radius: var(--radius-full);
      filter: blur(70px);
      transform: translate(-25%, -55%) rotate(45deg);

    }

    h1 {
      font-size: 2rem;
      text-align: center;
      width: 100%;

      @media (width < 400px) {
        font-size: 1.5rem;
      }
    }

    .image {
      width: 100%;
    }
  }
}

.isPc {
  img {
    width: 100% !important;

    @media (width < 600px) {
      margin-bottom: 20%;
    }
  }
}

.pocketList {
  width: 65% !important;
}

.isPlaying {
  opacity: 0 !important;
}

.media {
  display: none;
}
