<app-navigation></app-navigation>

<img src="/assets/images/Intro blob.svg" alt="Blob" class="blob">

<section class="intro">
  <h1 class="title"><span>Mateus Oliveira</span> UI/UX Designer</h1>

  <div class="about">
    <p>Where user empathy meets visual storytelling</p>

    <p>Specializing in UI/UX design with a strong foundation in Figma, I’m passionate about crafting intuitive,
      accessible, and visually engaging digital experiences. I focus on user-centered design principles to ensure every
      interface not only looks good but feels right to use.
    </p>

    <p>My background in frontend development helps me bridge the gap between design and code, making collaboration with
      developers smoother and outcomes more consistent.</p>
  </div>

  <div class="contacts">
    <a href="/assets/CV.pdf" download="CV.pdf" target="_blank" rel="noopener noreferrer">Resume
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M26.25 18.75V23.75C26.25 24.413 25.9866 25.0489 25.5178 25.5178C25.0489 25.9866 24.413 26.25 23.75 26.25H6.25C5.58696 26.25 4.95107 25.9866 4.48223 25.5178C4.01339 25.0489 3.75 24.413 3.75 23.75V18.75"
          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M8.75 12.5L15 18.75L21.25 12.5" stroke="white" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M15 18.75V3.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>

    <a href="mailto:moliveira.developer@gmail.com" target="_blank">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5 5H25C26.375 5 27.5 6.125 27.5 7.5V22.5C27.5 23.875 26.375 25 25 25H5C3.625 25 2.5 23.875 2.5 22.5V7.5C2.5 6.125 3.625 5 5 5Z"
          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M27.5 7.5L15 16.25L2.5 7.5" stroke="white" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </a>

    <a href="https://www.linkedin.com/in/mateus-oliveira-271121194/" target="_blank">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20 10C21.9891 10 23.8968 10.7902 25.3033 12.1967C26.7098 13.6032 27.5 15.5109 27.5 17.5V26.25H22.5V17.5C22.5 16.837 22.2366 16.2011 21.7678 15.7322C21.2989 15.2634 20.663 15 20 15C19.337 15 18.7011 15.2634 18.2322 15.7322C17.7634 16.2011 17.5 16.837 17.5 17.5V26.25H12.5V17.5C12.5 15.5109 13.2902 13.6032 14.6967 12.1967C16.1032 10.7902 18.0109 10 20 10Z"
          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M7.5 11.25H2.5V26.25H7.5V11.25Z" stroke="white" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
        <path
          d="M5 7.5C6.38071 7.5 7.5 6.38071 7.5 5C7.5 3.61929 6.38071 2.5 5 2.5C3.61929 2.5 2.5 3.61929 2.5 5C2.5 6.38071 3.61929 7.5 5 7.5Z"
          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
  </div>
</section>

<h1 class="separator">Selected work</h1>

<section class="projects">
  <div class="project" *ngFor="let project of projectService.designProjects">
    <div class="highlight">
      <div class="light {{project.color}}"></div>
    </div>

    <div class="title">
      <img [src]="project.logo" [alt]="project.title + ' logo'">

      <h1>{{project.title}}</h1>

      <a [routerLink]="['/Design', 'Project', project.title]"
        (click)="this.projectService.selectedProject = project">See more
        <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 17L10 9.5L2 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </div>

    <div class="content">
      <div class="left">
        <p>{{project.description}}</p>
        <p>{{project.descriptionShort}}</p>

        <div class="technologies">
          <img src="/assets/images/icons/github.png" alt="Github" [title]="project.github" *ngIf="!project.isDesign"
            (click)="openGithub(project.githubUrl)">

          <div class="bar" *ngIf="!project.isDesign"></div>

          <img [src]="technology.icon" [alt]="technology.name" class="technology"
            *ngFor="let technology of project.technologies" [title]="technology.name">
        </div>
      </div>

      <div class="right">
        <img [src]="project.thumbnail" [alt]="project.title + ' image'" [ngClass]="{'pride': project.title == 'Pride'}">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
