section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 11%;

  @media (width < 600px) {
    height: auto;
    min-height: 25vh;
  }

  .title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--primary-purple);
    font-size: var(--fs-1000);
    font-weight: 500;
    line-height: 4rem;
    width: 100%;

    span {
      color: var(--white);
      font-size: var(--fs-900);
      font-weight: 500;
      width: 100%;
    }

    @media (width < 1500px) {
      font-size: var(--fs-900);
      line-height: 3rem;
      margin: 2% 0 0 0;

      span {
        font-size: var(--fs-700);
      }
    }

    @media (width < 600px) {
      font-size: var(--fs-600);
      line-height: 2.5rem;
      margin: 0;

      span {
        font-size: var(--fs-425);
        font-weight: 400;
      }
    }

    @media (width < 400px) {
      font-size: var(--fs-500);
      line-height: 2.25rem;
      margin: 0;

      span {
        font-size: var(--fs-415);
        font-weight: 300;
      }
    }
  }

  .about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;
    height: 35%;
    margin-top: 5%;
    padding: 0 20% 0 0;

    p {
      color: var(--white);
      font-size: var(--fs-500);
      font-weight: 400;

      +p {
        color: var(--grey);
        font-size: var(--fs-425);
        font-weight: 300;
        line-height: 150%;
        padding: 0 2% 0 0;
      }
    }

    @media (width < 1500px) {
      width: 80%;
      height: 30%;
      padding: 0 12% 0 0;
      margin-top: 7%;

      p {
        font-size: var(--fs-425);

        +p {
          font-size: var(--fs-400);

          +p {
            padding: 0 5% 0 0;
          }

          span {
            font-size: var(--fs-400);
          }
        }
      }
    }

    @media (width < 600px) {
      display: none;
    }
  }

  .contacts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 10%;
    margin-top: 5%;

    a {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: var(--secondary-dark);
      border-radius: var(--radius-full);
      color: var(--white);
      font-size: 1.125rem;
      font-weight: 400;
      text-decoration: none;
      width: 13.5%;
      height: 70%;
      margin: 0 6.5% 0 0;

      &:nth-of-type(1) {
        background-color: var(--primary-purple);
        box-shadow: 0 4px 60px rgba(86, 33, 202, 0.35);
        width: 40%;
        padding: 0 5%;

        svg {
          width: 20%;
          height: fit-content;
        }
      }

      &:nth-last-of-type(1) {
        margin: 0;
      }

      svg {
        width: 50%;
        height: fit-content;
      }
    }

    @media (width < 1500px) {
      width: 35%;
      margin-top: 7%;
    }

    @media (width < 600px) {
      width: 100%;
      height: 7.5vh;
      margin-top: 10%;

      a {
        font-size: var(--fs-400);

        @media (width < 400px) {
          font-size: var(--fs-300);
        }
      }

      svg {
        scale: 0.9;

        @media (width < 400px) {
          scale: 1;
        }
      }
    }
  }

  .project {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 25vh;

    .highlight {
      position: absolute;
      top: 100%;
      left: auto;
      right: 0;
      transform: translate(0, -90%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 600px;
      z-index: -1;

      .light {
        position: relative;
        -webkit-filter: blur(100px);
        -moz-filter: blur(100px);
        -o-filter: blur(100px);
        -ms-filter: blur(100px);
        filter: blur(100px);
        transform: scale(0.8);
        width: 21.875rem;
        height: 21.875rem;
      }
    }

    &:nth-of-type(3) {
      .highlight {
        top: 115%;
      }

      .content {
        .right {
          img {
            width: 100%;
          }
        }
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      height: 8vh;

      img {
        object-fit: contain;
        object-position: center;
        width: fit-content;
        height: 100%;
      }

      h1 {
        color: var(--white);
        font-size: var(--fs-500);
        font-weight: 500;
        width: 80%;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--white);
        font-size: var(--fs-425);
        font-weight: 300;
        text-decoration: none;
        width: 10%;
        padding-left: 2%;
        cursor: pointer;

        svg {
          margin-top: 1%;
        }
      }
    }

    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      height: auto;

      .left {
        width: 50%;
        margin-top: 3%;

        p {
          color: var(--grey);
          font-size: var(--fs-425);
          font-weight: 300;
          line-height: 150%;

          +p {
            margin-top: 4%;
          }
        }

        .technologies {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          min-height: 5vh;
          margin-top: 5%;

          img {
            object-fit: fill;
            object-position: center;
            width: fit-content;
            height: 3.5vh;
            cursor: pointer;
          }

          .bar {
            background-color: var(--dark-blue);
            border-radius: var(--radius-full);
            width: 2px;
            height: 3.5vh;
            margin-left: 2%;
          }

          .technology {
            margin-left: 2%;
            cursor: default;

            &:first-of-type {
              margin: 0;
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;

        img {
          object-fit: fill;
          object-position: center;
          width: 80%;
          height: fit-content;
        }
      }
    }

    @media (width < 1500px) {
      &:nth-of-type(3) {
        .highlight {
          top: 30%;
        }
      }

      .highlight {
        top: 30%;
        right: -15%;
        transform: translate(-15%, -30%);
        width: 500px;
        height: 500px;

        .light {
          width: 250px;
          height: 250px;
        }
      }

      .title {
        margin: 0;

        h1 {
          font-weight: 400;
          width: 75%;
        }

        a {
          font-size: var(--fs-415);
          width: 15%;
          padding-left: 4%;
        }
      }

      .content {
        .left {
          width: 58%;

          p {
            font-size: var(--fs-400);
          }
        }
      }
    }

    @media (width < 600px) {
      justify-content: flex-end;
      background: hsla(217, 41%, 10%, 0.25);
      border: 1px solid hsla(0, 0%, 100%, 0.06);
      border-radius: 1.5rem;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      height: 45vh;
      padding: 7%;
      margin-bottom: 10vh;

      &:nth-last-of-type(1) {
        margin-bottom: 15vh;
      }

      .highlight {
        top: unset;
        right: unset;
        bottom: 0;
        left: -10%;
        transform: translate(10%, 0);
        width: auto;
        height: auto;

        .light {
          -webkit-filter: blur(120px);
          -moz-filter: blur(120px);
          -o-filter: blur(120px);
          -ms-filter: blur(120px);
          filter: blur(120px);
          width: 200px;
          height: 200px;
        }
      }

      .title {
        height: auto;
        margin-bottom: 3%;

        img {
          display: none;
        }

        h1 {
          font-size: var(--fs-600);
          font-weight: 500;

          @media (width < 400px) {
            font-size: var(--fs-500);
          }
        }

        a {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 1.5rem;
          width: 100%;
          height: 100%;
          color: transparent;
          opacity: 0;
          z-index: 5;

          svg {
            display: none;
          }
        }
      }

      .content {
        .left {
          width: 100%;
          margin-top: 0;

          p {
            display: none;
          }

          .technologies {
            margin-top: 0;

            img {
              height: 3.25vh;
            }

            .bar {
              display: none;
            }

            .technology {
              margin-left: 5%;
            }
          }
        }

        .right {
          position: absolute;
          align-items: flex-start;
          width: 100%;
          height: 100%;

          img {
            width: 65%;
            margin-top: 10%;
          }
        }
      }
    }
  }
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  padding-top: 5%;

  @media (width < 1500px) {
    min-height: 75vh;
  }

  @media (width < 600px) {
    justify-content: flex-start;
    min-height: auto;
  }
}
