footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5vh 0 10vh 0;
  width: 25vw;
  height: auto;

  h2,
  p {
    color: var(--grey);
    font-size: var(--fs-300);
    font-weight: 300;
  }

  span {
    color: var(--grey);
    font-size: var(--fs-200);
    font-weight: 300;
    margin: 1.5% 0 0 0;
  }

  h1 {
    color: var(--white);
    font-family: Herr Von Muellerhoff, cursive;
    font-size: var(--fs-1000);
    font-weight: 400;
    margin: 5% 0;
  }

  p {
    text-align: center;
    width: 40%;
    line-height: 140%;
  }
}

@media only screen and (max-width: 1600px) {
  .footer {
    width: 35vw;
  }
}
