section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--bg-400);
  padding-top: 11%;

  .title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--primary-400);
    font-size: var(--fs-1000);
    font-weight: 500;
    line-height: 4rem;
    width: 100%;

    span {
      color: var(--text-200);
      font-size: var(--fs-900);
      font-weight: 500;
      width: 100%;
    }
  }

  .about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;
    height: 30%;
    margin-top: 5%;
    padding: 0 20% 0 0;

    p {
      color: var(--text-100);
      font-size: var(--fs-500);
      font-weight: 500;

      +p {
        color: var(--text-400);
        font-size: var(--fs-450);
        font-weight: 400;

        span {
          color: var(--text-100);
          font-size: var(--fs-450);
          font-weight: 400;
        }
      }
    }
  }

  .contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 10%;
    margin-top: 5%;

    a {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: var(--bg-200);
      border-radius: var(--radius-full);
      color: var(--text-100);
      font-size: 1.125rem;
      font-weight: 400;
      text-decoration: none;
      width: 13.5%;
      height: 70%;

      &:nth-of-type(1) {
        background-color: var(--primary-400);
        width: 40%;
        padding: 0 5%;

        svg {
          width: 20%;
          height: fit-content;
        }
      }

      svg {
        width: 50%;
        height: fit-content;
      }
    }
  }

  .separator {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--neutral-400);
    font-size: var(--fs-450);
    font-weight: 500;
    width: 100%;
    margin-top: 6%;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      bottom: auto;
      left: 15%;
      background-color: var(--neutral-400);
      border-radius: var(--radius-full);
      line-height: normal;
      width: 85%;
      height: 2px;
    }
  }

  .project {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 15vh;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      height: 8vh;

      img {
        object-fit: contain;
        object-position: center;
        width: fit-content;
        height: 100%;
      }

      h1 {
        color: var(--text-100);
        font-size: var(--fs-500);
        font-weight: 500;
        width: 80%;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--text-100);
        font-size: var(--fs-425);
        font-weight: 400;
        text-decoration: none;
        width: 10%;
        padding-left: 2%;

        svg {
          margin-top: 1%;
        }
      }
    }

    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      height: auto;

      .left {
        width: 50%;
        margin-top: 3%;

        p {
          color: var(--text-300);
          font-size: var(--fs-425);
          font-weight: 400;

          +p {
            margin-top: 4%;
          }
        }

        .technologies {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          min-height: 5vh;
          margin-top: 5%;

          img {
            position: relative;
            object-fit: fill;
            object-position: center;
            width: fit-content;
            height: 3.5vh;
          }

          .bar {
            background-color: var(--bg-200);
            border-radius: var(--radius-full);
            width: 2px;
            height: 3.5vh;
            margin-left: 2%;
          }

          .technology {
            margin-left: 2%;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;

        img {
          object-fit: fill;
          object-position: center;
          width: 80%;
          height: fit-content;
        }
      }
    }
  }
}

.intro {
  background: url('/assets/images/glass.png') center / cover no-repeat;
}

.projects {
  background: url('/assets/images/glass2.png') 70% / contain no-repeat;
  background-clip: border-box;
  height: auto !important;
  min-height: 100vh;
  padding-top: 5%;
}
