<img src="/assets/images/Intro blob.svg" alt="Blob" class="blob">

<app-navigation></app-navigation>

<div class="intro-text">
  <h2 class="page-indicator">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
      <rect width="256" height="256" fill="none" />
      <polyline points="160 208 80 128 160 48" fill="none" stroke="var(--grey)" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="16" />
    </svg>

    {{photoService.galleryTitle}}
  </h2>
  <h1 class="title">Find. Save. Share.</h1>
  <h1 class="title"><span>Your Photo.</span> Your Moment</h1>
</div>

<app-footer></app-footer>
